modules = ["nodejs-20", "python-3.12", "web", "deno-2", "gcloud", "python-base-3.12", "docker"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 8080
exposeLocalhost = true

[workflows]
runButton = "Run Development"

[[workflows.workflow]]
name = "Run Development"
author = 37278128
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd api && python -m uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload"
